.sleeping{
    max-width: 100%;
    background-image: url('../img/sleeping duck.gif');
    /* border: 2px solid purple; */
    height: 87vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}