@media (max-width:690px){

/* media query for home */

    .introtext{
        font-size: 9vh;
        max-width: 100%;

    }
    .pre{
        font-size: 5vh;
        max-width: 100%;
    }
    .home{
        flex-wrap: wrap;
        background-position-x: -19vh;
    }
    .sinchan img{
       padding-top: 0vh;
    }

    /* media query for skills */
    .boxes img{
        width: 25vh;
        height: 23vh;
    }
    .boxes{
        font-size: 3vh;
       font-weight: 600;
    }
    #box1 ol{
        font-size: 2vh;
    }
    #box2 ol{
        font-size: 2vh;
    }
    .expert{
        opacity: 3;
        background-size: cover;
      
    }

/* media query for interest */
.sleeping{
    height: 35vh;
}

    /* media query for contact */

    .boxes2 img{
        width: 20vh;
        height: 18vh;
    }
    .boxes2{
        background: linear-gradient(white,transparent);
        font-weight: 800;
    }
   .samsoong{
       background-position-x: -63vh;
       background-size: cover;
       opacity: 8;
   }

   /* hamburger nav */
   
   .burger{
       display:flex;
   }
   .li{
       display: none;
   }
   .hamli{
       display: flex;
   }
   .hamul{
       flex-direction: column;
       animation-name: hamburger;
       animation-duration: 1s;
       height: 30vh;
   }
   @keyframes hamburger{
       from {height:7vh;}
       to{height:30vh;}
   }
   
}