h3{
    text-align: center;
    font-size: 4vh;
    /* border: 2px solid greenyellow; */
    padding: 4vh;

    
}
.expert{
    /* border: 2px solid chocolate; */
    max-width: 100%;
    height: 75vh;
    background-image: url('../img/maiexperthu.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: flex;
    justify-content: space-between;
}
.boxes{
    width: 35vh;
    /* border: 2px solid orange; */
    text-align: center;
    font-size: 4vh;
    padding: 1vh;
    background: linear-gradient(aqua,white);
}
.boxes img{
    width: 37vh;
    height: 37vh;
    text-align: center;
}
#box1 ol{
    font-size: 2.5vh;
}
#box2 ol{
    font-size: 2.5vh;
}